@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200;400;600&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "KoHo", sans-serif;
}
.example::-webkit-scrollbar {
  display: none;
}
